Repository kozaka93/2024Z-DataVisualizationTechniques, pull requests merged in 2024-12, with the labels that each got.

#382 [HW5] Przeździecka Alicja
  homeworks/hw5/PrzezdzieckaAlicja/choinka_app.Rmd
  homeworks/hw5/PrzezdzieckaAlicja/choinka_app/app.R
Labels: HW5

#383 [HW5] Baraniak Wojciech
  homeworks/hw5/BaraniakWojciech/Kod_python.py
  homeworks/hw5/BaraniakWojciech/choinka.gif
Labels: HW5

#384 [HW5] Oliwia Wójcicka
  homeworks/hw5/WojcickaOliwia/choinka.R
  homeworks/hw5/WojcickaOliwia/choinka.gif
Labels: HW5

#317 [HW4] Vinichenko Oleksii
  homeworks/hw4/VinichenkoOleksii/Dzieci w pieczy zastępczej.pdf
  homeworks/hw4/VinichenkoOleksii/PlotBuilder.R
  homeworks/hw4/VinichenkoOleksii/data/2022_PieczaZastepcza.xlsx
  homeworks/hw4/VinichenkoOleksii/data/Liczba dzieci 0-18 lat w Polsce 2014-2023.xlsx
  homeworks/hw4/VinichenkoOleksii/data/Liczba osób w wieku 0-24 lata w Polsce, 2014-2023.xlsx
  homeworks/hw4/VinichenkoOleksii/data/Noworodki pozostawione w szpitalu 2007-2023.xlsx
  homeworks/hw4/VinichenkoOleksii/data/Urodzenia żywe w Polsce 2007-2023.xlsx
  homeworks/hw4/VinichenkoOleksii/data/Wychowankowie (0-24 lata) w pieczy zastępczej 2014-2023.xlsx
  homeworks/hw4/VinichenkoOleksii/fonts/Raleway-Italic-VariableFont_wght.ttf
  homeworks/hw4/VinichenkoOleksii/fonts/Raleway-VariableFont_wght.ttf
  homeworks/hw4/VinichenkoOleksii/fonts/TenorSans-Regular.ttf
  homeworks/hw4/VinichenkoOleksii/hw4.Rproj
  homeworks/hw4/VinichenkoOleksii/plots/map_nw.png
  homeworks/hw4/VinichenkoOleksii/plots/map_wch.png
  homeworks/hw4/VinichenkoOleksii/plots/nw.png
  homeworks/hw4/VinichenkoOleksii/plots/wch.png
Labels: HW4

#318 [HW4] Sulowski Michał
  homeworks/hw4/SulowskiMichal/Noworodki pozostawione w szpitalu 2007-2023.xlsx
  homeworks/hw4/SulowskiMichal/PD4.pdf
  homeworks/hw4/SulowskiMichal/Urodzenia żywe w Polsce 2007-2023.xlsx
  homeworks/hw4/SulowskiMichal/pd4TWD.R
Labels: HW4

#319 [HW4] Grabowski Gabriel
  homeworks/hw4/GrabowskiGabriel/GrabowskiGabriel_HW4.R
  homeworks/hw4/GrabowskiGabriel/README.md
  homeworks/hw4/GrabowskiGabriel/plakat.jpg
Labels: HW4

#320 [HW4] Winkler Maciej
  homeworks/hw4/WinklerMaciej/2023_PieczaZastepcza.csv
  homeworks/hw4/WinklerMaciej/2023_PieczaZastepczaWychowankowie.csv
  homeworks/hw4/WinklerMaciej/homework04.R
  homeworks/hw4/WinklerMaciej/homework04.html
  homeworks/hw4/WinklerMaciej/homework04.rmd
Labels: HW4

#321 [HW4] Andrzejewski Maciej
  homeworks/hw4/AndrzejewskiMaciej/Noworodki.csv
  homeworks/hw4/AndrzejewskiMaciej/wizualizacja.R
  homeworks/hw4/AndrzejewskiMaciej/wizualizacja.html
  homeworks/hw4/AndrzejewskiMaciej/Żywe.csv
Labels: HW4

#324 [HW4] Wysocki Piotr
  homeworks/hw4/WysockiPiotr/plot_output.png
  homeworks/hw4/WysockiPiotr/wykres — kopia.R
Labels: HW4

#325 [HW4] BartkowiakDaria
  homeworks/hw4/BartkowiakDaria/Rplot04.jpeg
  homeworks/hw4/BartkowiakDaria/Rplot05.jpeg
  homeworks/hw4/BartkowiakDaria/TWD4.R
  homeworks/hw4/BartkowiakDaria/TWD4.pdf
  homeworks/hw4/BartkowiakDaria/~$TWD4.docx
Labels: HW4

#327 [HW4] Lahunovich Yahor
  homeworks/hw4/LahunovichYahor/DANE/Noworodki opuszczone przez rodziców/Noworodki pozostawione w szpitalu 2007-2023.xlsx
  homeworks/hw4/LahunovichYahor/DANE/Noworodki opuszczone przez rodziców/Urodzenia żywe w Polsce 2007-2023.xlsx
  homeworks/hw4/LahunovichYahor/DANE/Piecza zastępcza/Dane demograficzne dla kontekstu/Liczba dzieci 0-18 lat w Polsce 2014-2023.xlsx
  homeworks/hw4/LahunovichYahor/DANE/Piecza zastępcza/Dane demograficzne dla kontekstu/Liczba osób w wieku 0-24 lata w Polsce, 2014-2023.xlsx
  homeworks/hw4/LahunovichYahor/DANE/Piecza zastępcza/Surowe dane - więcej danych o pieczy zastępczej z GUS-u/2016_PieczaZastepcza.xlsx
  homeworks/hw4/LahunovichYahor/DANE/Piecza zastępcza/Surowe dane - więcej danych o pieczy zastępczej z GUS-u/2017_PieczaZastepcza.xlsx
  homeworks/hw4/LahunovichYahor/DANE/Piecza zastępcza/Surowe dane - więcej danych o pieczy zastępczej z GUS-u/2018_PieczaZastepcza.xlsx
  homeworks/hw4/LahunovichYahor/DANE/Piecza zastępcza/Surowe dane - więcej danych o pieczy zastępczej z GUS-u/2019_PieczaZastepcza.xlsx
  homeworks/hw4/LahunovichYahor/DANE/Piecza zastępcza/Surowe dane - więcej danych o pieczy zastępczej z GUS-u/2020_PieczaZastepcza.xlsx
  homeworks/hw4/LahunovichYahor/DANE/Piecza zastępcza/Surowe dane - więcej danych o pieczy zastępczej z GUS-u/2021_PieczaZastepcza.xlsx
  homeworks/hw4/LahunovichYahor/DANE/Piecza zastępcza/Surowe dane - więcej danych o pieczy zastępczej z GUS-u/2022_PieczaZastepcza.xlsx
  homeworks/hw4/LahunovichYahor/DANE/Piecza zastępcza/Surowe dane - więcej danych o pieczy zastępczej z GUS-u/2023_PieczaZastepcza.xlsx
  homeworks/hw4/LahunovichYahor/DANE/Piecza zastępcza/Ważne uwagi dot. danych o pieczy zastępczej.docx
  homeworks/hw4/LahunovichYahor/DANE/Piecza zastępcza/Wychowankowie (0-24 lata) w pieczy zastępczej 2014-2023.xlsx
  homeworks/hw4/LahunovichYahor/Fonty i kolory Fundacji Gajusz/Fonty_Fundacja Gajusz.zip
  homeworks/hw4/LahunovichYahor/Fonty i kolory Fundacji Gajusz/ZESTAW KOLORÓW.pdf
  homeworks/hw4/LahunovichYahor/README.md
  homeworks/hw4/LahunovichYahor/images/poland_map1.png
  homeworks/hw4/LahunovichYahor/images/poland_map2.png
  homeworks/hw4/LahunovichYahor/images/poland_map3.png
  homeworks/hw4/LahunovichYahor/images/poland_map4.png
  homeworks/hw4/LahunovichYahor/images/poland_plot.png
  homeworks/hw4/LahunovichYahor/images/trend1.png
  homeworks/hw4/LahunovichYahor/images/trend2.png
  homeworks/hw4/LahunovichYahor/lahunovichyahor.R
  homeworks/hw4/LahunovichYahor/lahunovichyahor.Rmd
  homeworks/hw4/LahunovichYahor/lahunovichyahor.html
  homeworks/hw4/LahunovichYahor/lahunovichyahor.pdf
Labels: HW4

#328 [HW4] Radacka Julia
  homeworks/hw4/RadackaJulia/HW4.R
  homeworks/hw4/RadackaJulia/Opis wizualizacji do pracy domowej 4.pdf
  homeworks/hw4/RadackaJulia/dane/Noworodki pozostawione w szpitalu 2007-2023.xlsx
  homeworks/hw4/RadackaJulia/dane/wychowankowie.xlsx
Labels: HW4

#331 Wolkowska Paula HW4
  homeworks/hw4/WolkowskaPaula/TWD_hw4_PaulaWolkowska.pdf
  homeworks/hw4/WolkowskaPaula/hw4_app.R
Labels: HW4

#333 [HW4] Razantsau Maksim
  homeworks/hw4/RazantsauMaksim/Readme.md
  homeworks/hw4/RazantsauMaksim/dane/noworodkipozostawione.csv
  homeworks/hw4/RazantsauMaksim/dane/urodzeniazywe.csv
  homeworks/hw4/RazantsauMaksim/images/2010.png
  homeworks/hw4/RazantsauMaksim/images/2023.png
  homeworks/hw4/RazantsauMaksim/images/PozostawioneLataPolska.png
  homeworks/hw4/RazantsauMaksim/kody/PolsckaTendencja.R
  homeworks/hw4/RazantsauMaksim/kody/RegionalnaAnalizaShiny.R
Labels: HW4

#334 [HW4] Kawulska Karolina
  homeworks/hw4/KawulskaKarolina/Raleway-Medium.ttf
  homeworks/hw4/KawulskaKarolina/Urodzenia żywe w Polsce 2007-2023.xlsx
  homeworks/hw4/KawulskaKarolina/ani.html
  homeworks/hw4/KawulskaKarolina/homework04.Rmd
  homeworks/hw4/KawulskaKarolina/homework04.html
  homeworks/hw4/KawulskaKarolina/pd4.R
  homeworks/hw4/KawulskaKarolina/polskaAnimacja.png
  homeworks/hw4/KawulskaKarolina/urodzenia2000.png
  homeworks/hw4/KawulskaKarolina/wojewodztwa.png
Labels: HW4

#341 [HW 4] Zalewska Zuzanna
  homeworks/hw4/ZalewskaZuzanna/hw4.R
  homeworks/hw4/ZalewskaZuzanna/hw4.pdf
Labels: HW4

#342 [HW4] Syrkiewicz Michal
  homeworks/hw4/SyrkiewiczMichal/Dane_2016.R
  homeworks/hw4/SyrkiewiczMichal/Dane_2023.R
  homeworks/hw4/SyrkiewiczMichal/HW4_Michał_Syrkiewicz.Rmd
  homeworks/hw4/SyrkiewiczMichal/HW4_Michał_Syrkiewicz.html
Labels: HW4

#343 [HW4] Tomaszkiewicz Julia
  homeworks/hw4/TomaszkiewiczJulia/PD4.pdf
  homeworks/hw4/TomaszkiewiczJulia/Wychowankowie (0-24 lata) w pieczy zastępczej 2014-2023.xlsx
  homeworks/hw4/TomaszkiewiczJulia/app.R
  homeworks/hw4/TomaszkiewiczJulia/csv1.csv
  homeworks/hw4/TomaszkiewiczJulia/csv2.csv
  homeworks/hw4/TomaszkiewiczJulia/fonts/Raleway-Bold.ttf
  homeworks/hw4/TomaszkiewiczJulia/fonts/Raleway-VariableFont_wght.ttf
Labels: HW4

#344 [HW4] Glowinski Pawel
  homeworks/hw4/GlowinskiPawel/HW4.R
  homeworks/hw4/GlowinskiPawel/[HW4] Glowinski Pawel.pdf
  homeworks/hw4/GlowinskiPawel/noworodki.csv
  homeworks/hw4/GlowinskiPawel/urodzenia.csv
Labels: HW4

#347 [HW4] Brandt Aleksander
  homeworks/hw4/BrandtAleksander/NoworodkiP.xlsx
  homeworks/hw4/BrandtAleksander/UrodzeniaZ.xlsx
  homeworks/hw4/BrandtAleksander/homework04.R
  homeworks/hw4/BrandtAleksander/homework04.Rmd
  homeworks/hw4/BrandtAleksander/homework04.html
Labels: HW4

#349 [HW4] Sadowska Martyna
  homeworks/hw4/SadowskaMartyna/Fundacja Gajusz - projekt.pdf
  homeworks/hw4/SadowskaMartyna/wolontariusze.R
  homeworks/hw4/SadowskaMartyna/wychowankowie.R
  homeworks/hw4/SadowskaMartyna/zapelnienie_placowek.R
Labels: HW4

#350 [HW4] Rakowski Antoni
  homeworks/hw4/RakowskiAntoni/Eksploracja/homework4.R
  homeworks/hw4/RakowskiAntoni/Eksploracja/noworodki-pozostawione-w-szpitalu.csv
  homeworks/hw4/RakowskiAntoni/Eksploracja/urodzenia-zywe.csv
  homeworks/hw4/RakowskiAntoni/README.md
  homeworks/hw4/RakowskiAntoni/Wizualizacja/data.csv
  homeworks/hw4/RakowskiAntoni/Wizualizacja/homework4_app.R
Labels: HW4

#352 [HW4] Polkowski Cezary
  homeworks/hw4/PolkowskiCezary/.Rhistory
  homeworks/hw4/PolkowskiCezary/app.R
  homeworks/hw4/PolkowskiCezary/dane/Liczba osób w wieku 0-24 lata w Polsce, 2014-2023.xlsx
  homeworks/hw4/PolkowskiCezary/dane/Noworodki pozostawione w szpitalu 2007-2023.xlsx
  homeworks/hw4/PolkowskiCezary/dane/Urodzenia żywe w Polsce 2007-2023.xlsx
  homeworks/hw4/PolkowskiCezary/dane/Wychowankowie (0-24 lata) w pieczy zastępczej 2014-2023.xlsx
Labels: HW4

#355 [HW4] Jakub Rybak
  homeworks/hw4/RybakJakub/dane.xlsx
  homeworks/hw4/RybakJakub/dane_rodzen.xlsx
  homeworks/hw4/RybakJakub/pomoc dla dzieci.Rproj
  homeworks/hw4/RybakJakub/pomoc/app.R
Labels: HW4

#356 [HW4] Kotłowski Piotr
  homeworks/hw4/KotlowskiPiotr/DANE1.csv
  homeworks/hw4/KotlowskiPiotr/DANE2.xlsx
  homeworks/hw4/KotlowskiPiotr/RodzinaZastepcza.R
  homeworks/hw4/KotlowskiPiotr/RodzinnaPiecza.Rmd
  homeworks/hw4/KotlowskiPiotr/RodzinnaPiecza.html
Labels: HW4

#359 [HW4] Tomczyk Kacper
  homeworks/hw4/TomczykKacper/hw4/Noworodki pozostawione w szpitalu 2007-2023.xlsx
  homeworks/hw4/TomczykKacper/hw4/README_HW4.pdf
  homeworks/hw4/TomczykKacper/hw4/Urodzenia żywe w Polsce 2007-2023.xlsx
  homeworks/hw4/TomczykKacper/hw4/Wychowankowie (0-24 lata) w pieczy zastępczej 2014-2023.xlsx
  homeworks/hw4/TomczykKacper/hw4/generate.R
  homeworks/hw4/TomczykKacper/hw4/rsconnect/documents/generate.R/shinyapps.io/kacpertomczyk/HW4-TomczykKacper.dcf
Labels: HW4

#360 [HW4] Dzeranhouskaya Daminika
  homeworks/hw4/DzeranhouskayaDaminika/DaminikaDzeranhouskaya.pdf
  homeworks/hw4/DzeranhouskayaDaminika/app.R
  homeworks/hw4/[HW4] Dzeranhouskaya Daminika/DaminikaDzeranhouskaya.pdf
  homeworks/hw4/[HW4] Dzeranhouskaya Daminika/app.R
Labels: HW4

#361 [HW4] WojterskaAda
  homeworks/hw4/WojterskaAda/BI_NGO.pdf
  homeworks/hw4/WojterskaAda/piecza_zastepcza_polska/Liczba osób w wieku 0-24 lata w Polsce, 2014-2023.xlsx
  homeworks/hw4/WojterskaAda/piecza_zastepcza_polska/TenorSans-Regular.ttf
  homeworks/hw4/WojterskaAda/piecza_zastepcza_polska/Wychowankowie (0-24 lata) w pieczy zastępczej 2014-2023.xlsx
  homeworks/hw4/WojterskaAda/piecza_zastepcza_polska/app.R
  homeworks/hw4/WojterskaAda/piecza_zastepcza_polska/rsconnect/shinyapps.io/adawojterska/piecza_zastepcza_polska.dcf
  homeworks/hw4/WojterskaAda/piecza_zastepcza_polska/wczytywanie_dzieci.R
  homeworks/hw4/WojterskaAda/piecza_zastepcza_polska/wczytywanie_pieczazastepcza.R
  homeworks/hw4/WojterskaAda/piecza_zastepcza_polska/wczytywanie_pieczazastepcza_i.R
  homeworks/hw4/WojterskaAda/piecza_zastepcza_polska/wczytywanie_pieczazastepcza_r.R
  homeworks/hw4/WojterskaAda/piecza_zastepcza_polska/wczytywanie_wiek.R
  homeworks/hw4/WojterskaAda/piecza_zastepcza_polska/wczytywanie_wiek_i.R
  homeworks/hw4/WojterskaAda/piecza_zastepcza_polska/wczytywanie_wiek_r.R
  homeworks/hw4/WojterskaAda/piecza_zastepcza_polska/wiek.xlsx
Labels: HW4

#362 [HW4] Hallak Elissa
  homeworks/hw4/HallakElissa/Elissa Hallak TWD PD4.pdf
  homeworks/hw4/HallakElissa/Noworodki pozostawione w szpitalu 2007-2023.xlsx
  homeworks/hw4/HallakElissa/Urodzenia żywe w Polsce 2007-2023.xlsx
  homeworks/hw4/HallakElissa/app.R
Labels: HW4

#363 [HW4] Madej Ludwik
  homeworks/hw4/MadejLudwik/DANE/Noworodki opuszczone przez rodziców/Noworodki pozostawione w szpitalu 2007-2023.xlsx
  homeworks/hw4/MadejLudwik/DANE/Noworodki opuszczone przez rodziców/Urodzenia żywe w Polsce 2007-2023.xlsx
  homeworks/hw4/MadejLudwik/DANE/Piecza zastępcza/Dane demograficzne dla kontekstu/Liczba dzieci 0-18 lat w Polsce 2014-2023.xlsx
  homeworks/hw4/MadejLudwik/DANE/Piecza zastępcza/Dane demograficzne dla kontekstu/Liczba osób w wieku 0-24 lata w Polsce, 2014-2023.xlsx
  homeworks/hw4/MadejLudwik/DANE/Piecza zastępcza/Surowe dane - więcej danych o pieczy zastępczej z GUS-u/2016_PieczaZastepcza.xlsx
  homeworks/hw4/MadejLudwik/DANE/Piecza zastępcza/Surowe dane - więcej danych o pieczy zastępczej z GUS-u/2017_PieczaZastepcza.xlsx
  homeworks/hw4/MadejLudwik/DANE/Piecza zastępcza/Surowe dane - więcej danych o pieczy zastępczej z GUS-u/2018_PieczaZastepcza.xlsx
  homeworks/hw4/MadejLudwik/DANE/Piecza zastępcza/Surowe dane - więcej danych o pieczy zastępczej z GUS-u/2019_PieczaZastepcza.xlsx
  homeworks/hw4/MadejLudwik/DANE/Piecza zastępcza/Surowe dane - więcej danych o pieczy zastępczej z GUS-u/2020_PieczaZastepcza.xlsx
  homeworks/hw4/MadejLudwik/DANE/Piecza zastępcza/Surowe dane - więcej danych o pieczy zastępczej z GUS-u/2021_PieczaZastepcza.xlsx
  homeworks/hw4/MadejLudwik/DANE/Piecza zastępcza/Surowe dane - więcej danych o pieczy zastępczej z GUS-u/2022_PieczaZastepcza.xlsx
  homeworks/hw4/MadejLudwik/DANE/Piecza zastępcza/Surowe dane - więcej danych o pieczy zastępczej z GUS-u/2023_PieczaZastepcza.xlsx
  homeworks/hw4/MadejLudwik/DANE/Piecza zastępcza/Ważne uwagi dot. danych o pieczy zastępczej.docx
  homeworks/hw4/MadejLudwik/DANE/Piecza zastępcza/Wychowankowie (0-24 lata) w pieczy zastępczej 2014-2023.xlsx
  homeworks/hw4/MadejLudwik/Fonty czyli czcionki/Raleway-Italic-VariableFont_wght.ttf
  homeworks/hw4/MadejLudwik/Fonty czyli czcionki/Raleway-VariableFont_wght.ttf
  homeworks/hw4/MadejLudwik/Fonty czyli czcionki/Raleway.zip
  homeworks/hw4/MadejLudwik/Fonty czyli czcionki/TenorSans-Regular.ttf
  homeworks/hw4/MadejLudwik/Fonty czyli czcionki/Tenor_Sans.zip
  homeworks/hw4/MadejLudwik/raport.Rmd
  homeworks/hw4/MadejLudwik/raport.html
Labels: HW4

#364 [HW4] Bojski Mikolaj
  homeworks/hw4/BojskiMikolaj/chart.html
  homeworks/hw4/BojskiMikolaj/homework04.R
  homeworks/hw4/BojskiMikolaj/hw4_opis.pdf
Labels: HW4

#365 [HW4] Zieliński Miłosz
  homeworks/hw4/ZielinskiMilosz/Opis.pdf
  homeworks/hw4/ZielinskiMilosz/hw_4.R
  homeworks/hw4/ZielinskiMilosz/mapa_noworodki_2023.png
  homeworks/hw4/ZielinskiMilosz/mapa_noworodki_2_2023.png
  homeworks/hw4/ZielinskiMilosz/wykres_noworodki.png
  homeworks/hw4/ZielinskiMilosz/wykres_noworodki_2.png
  homeworks/hw4/ZielinskiMilosz/wykres_noworodki_2_500.png
  homeworks/hw4/ZielinskiMilosz/wykres_noworodki_500.png
Labels: HW4

#367 [HW4] Szczerbinska Hanna
  homeworks/hw4/SzczerbinskaHanna/TWD - HW4 - Hanna Szczerbińska.pdf
  homeworks/hw4/SzczerbinskaHanna/app.R
  homeworks/hw4/SzczerbinskaHanna/clean_noworodki_pozostawione_w_szpitalu.csv
  homeworks/hw4/SzczerbinskaHanna/hw4_wykresy.R
  homeworks/hw4/SzczerbinskaHanna/urodzenia_zywe_pl_2007-2023.csv
Labels: HW4

#369 [HW4] Socha Karol
  homeworks/hw4/SochaKarol/BINGO.png
  homeworks/hw4/SochaKarol/bingo.R
Labels: HW4

#370 [HW4] Zabkowski Bartosz
  homeworks/hw4/ZabkowskiBartosz/2023_PieczaZastepcza.xlsx
  homeworks/hw4/ZabkowskiBartosz/Bartosz_Zabkowski.R
Labels: HW4

#371 [HW4] Stasiak Mateusz
  homeworks/hw4/StasiakMateusz/Noworodki pozostawione w szpitalu 2007-2023.xlsx
  homeworks/hw4/StasiakMateusz/StasiakMateusz.R
  homeworks/hw4/StasiakMateusz/Urodzenia żywe w Polsce 2007-2023.xlsx
Labels: HW4

#372 [HW4] Sirko Liliana
  homeworks/hw4/SirkoLiliana/hw4.Rmd
  homeworks/hw4/SirkoLiliana/hw4_kod.R
  homeworks/hw4/SirkoLiliana/pozostawione_noworodki.csv
  homeworks/hw4/SirkoLiliana/urodzenia.csv
  homeworks/hw4/SirkoLiliana/wizualizacja.html
  homeworks/hw4/SirkoLiliana/wizualizacja_files/MathJax.js
  homeworks/hw4/SirkoLiliana/wizualizacja_files/a.html
  homeworks/hw4/SirkoLiliana/wizualizacja_files/a_data/bootstrap-accessibility.min.css
  homeworks/hw4/SirkoLiliana/wizualizacja_files/a_data/bootstrap-accessibility.min.js
  homeworks/hw4/SirkoLiliana/wizualizacja_files/a_data/bootstrap.min.css
  homeworks/hw4/SirkoLiliana/wizualizacja_files/a_data/bootstrap.min.js
  homeworks/hw4/SirkoLiliana/wizualizacja_files/a_data/busy-indicators.css
  homeworks/hw4/SirkoLiliana/wizualizacja_files/a_data/fill.css
  homeworks/hw4/SirkoLiliana/wizualizacja_files/a_data/jquery.min.js
  homeworks/hw4/SirkoLiliana/wizualizacja_files/a_data/shiny.min.css
  homeworks/hw4/SirkoLiliana/wizualizacja_files/a_data/shiny.min.js
  homeworks/hw4/SirkoLiliana/wizualizacja_files/bootstrap.min.css
  homeworks/hw4/SirkoLiliana/wizualizacja_files/bootstrap.min.js
  homeworks/hw4/SirkoLiliana/wizualizacja_files/busy-indicators.css
  homeworks/hw4/SirkoLiliana/wizualizacja_files/codefolding.js
  homeworks/hw4/SirkoLiliana/wizualizacja_files/header-attrs.js
  homeworks/hw4/SirkoLiliana/wizualizacja_files/highlight.js
  homeworks/hw4/SirkoLiliana/wizualizacja_files/html5shiv.min.js
  homeworks/hw4/SirkoLiliana/wizualizacja_files/jquery.min.js
  homeworks/hw4/SirkoLiliana/wizualizacja_files/pagedtable.css
  homeworks/hw4/SirkoLiliana/wizualizacja_files/pagedtable.js
  homeworks/hw4/SirkoLiliana/wizualizacja_files/respond.min.js
  homeworks/hw4/SirkoLiliana/wizualizacja_files/rmd_loader.css
  homeworks/hw4/SirkoLiliana/wizualizacja_files/rmd_loader.gif
  homeworks/hw4/SirkoLiliana/wizualizacja_files/rmd_loader.js
  homeworks/hw4/SirkoLiliana/wizualizacja_files/rmd_perf.css
  homeworks/hw4/SirkoLiliana/wizualizacja_files/rmd_perf.js
  homeworks/hw4/SirkoLiliana/wizualizacja_files/rsiframe.js
  homeworks/hw4/SirkoLiliana/wizualizacja_files/shiny.min.css
  homeworks/hw4/SirkoLiliana/wizualizacja_files/shiny.min.js
  homeworks/hw4/SirkoLiliana/wizualizacja_files/sourceembed.js
  homeworks/hw4/SirkoLiliana/wizualizacja_files/tabsets.js
  homeworks/hw4/SirkoLiliana/wizualizacja_files/textmate.css
Labels: HW4

#373 [HW4] Kieltyka Szymon
  homeworks/hw4/KieltykaSzymon/homework04.Rmd
  homeworks/hw4/KieltykaSzymon/homework04.html
  homeworks/hw4/KieltykaSzymon/noworodki.csv
  homeworks/hw4/KieltykaSzymon/urodzenia.csv
Labels: HW4

#374 [HW4] Luckner Aleksander
  homeworks/hw4/LucknerAleksander/app.R
  homeworks/hw4/LucknerAleksander/data/Liczba_osób_w_wieku_0-24_lata_w_Polsce,_2014-2023.xlsx
  homeworks/hw4/LucknerAleksander/data/Wychowankowie_(0-24_lata)_w_pieczy_zastepczej_2014-2023.xlsx
  homeworks/hw4/LucknerAleksander/wizualizacja.png
Labels: HW4

#375 [HW4] KwokaKlaudia
  homeworks/hw4/KwokaKlaudia/DataVisualisation_HW4.pdf
  homeworks/hw4/KwokaKlaudia/Noworodki pozostawione w szpitalu 2007-2023.xlsx
  homeworks/hw4/KwokaKlaudia/Urodzenia żywe w Polsce 2007-2023.xlsx
  homeworks/hw4/KwokaKlaudia/hw4.R
Labels: HW4

#376 [HW4] Gajda Stefan
  homeworks/hw4/GajdaStefan/AplikacjaHW4.R
  homeworks/hw4/GajdaStefan/HW4_TWD.R
  homeworks/hw4/GajdaStefan/NoworodkiPozostawioneWSzpitalu.csv
  homeworks/hw4/GajdaStefan/OPISiKOMENTARZ.txt
  homeworks/hw4/GajdaStefan/UrodzeniaZyweWPolsce.csv
  homeworks/hw4/GajdaStefan/dane.csv
Labels: HW4

#378 [HW4] Jamroż Mateusz
  homeworks/hw4/JamrozMateusz/2023_PieczaZastepcza.xlsx
  homeworks/hw4/JamrozMateusz/homework4.R
  homeworks/hw4/JamrozMateusz/homework4.pdf
Labels: Late ⏰, HW4

#379 [HW4] Ryski Adam
  homeworks/hw4/RyskiAdam/Noworodki pozostawione w szpitalu 2007-2023.xlsx
  homeworks/hw4/RyskiAdam/Urodzenia żywe w Polsce 2007-2023.xlsx
  homeworks/hw4/RyskiAdam/Wychowankowie (0-24 lata) w pieczy zastępczej 2014-2023.xlsx
  homeworks/hw4/RyskiAdam/homework04.Rmd
  homeworks/hw4/RyskiAdam/homework04.html
Labels: Late ⏰, HW4

#381 [HW4] Rzeźniczak Kacper
  homeworks/hw4/RzeźniczakKacper/app.R
Labels: Late ⏰, HW4

#387 [HW4] Przeździecka Alicja
  homeworks/hw4/PrzezdzieckaAlicja/Noworodki pozostawione w szpitalu 2007-2023.xlsx
  homeworks/hw4/PrzezdzieckaAlicja/Urodzenia żywe w Polsce 2007-2023.xlsx
  homeworks/hw4/PrzezdzieckaAlicja/app.R
  homeworks/hw4/PrzezdzieckaAlicja/noworodki.Rmd
Labels: HW4

#385 [HW5] Brandt Aleksander
  homeworks/hw5/BrandtAleksander/choineczka.R
  homeworks/hw5/BrandtAleksander/choineczka.png
Labels: HW5

#386 [HW5] ZielinskiMilosz
  homeworks/hw5/ZielinskiMilosz/choinka.R
  homeworks/hw5/ZielinskiMilosz/choinka.png
Labels: HW5

#389 [HW5] Piotr Wysocki
  homeworks/hw5/WysockiPiotr/Xmas.png
  homeworks/hw5/WysockiPiotr/choinka.R
Labels: HW5

#390 [HW5] Radacka Julia
  homeworks/hw5/RadackaJulia/choinka.png
  homeworks/hw5/RadackaJulia/kod.R
Labels: HW5

#391 [HW5] Zawadka Aleksandra
  homeworks/hw5/ZawadkaAleksandra/choinka.gif
  homeworks/hw5/ZawadkaAleksandra/howework05.R
Labels: HW5

#392 [HW5} BartkowiakDaria
  homeworks/hw5/BartkowiakDaria/Rplot04.png
  homeworks/hw5/BartkowiakDaria/choinka.R
Labels: HW5

#393 [HW5] Kawa Wiktoria
  homeworks/hw5/KawaWiktoria/[HW5] Kawa Wiktoria.R
  homeworks/hw5/KawaWiktoria/christmas_tree.png
Labels: HW5

#394 [HW5] Zawadka Aleksandra
  homeworks/hw5/ZawadkaAleksandra/howework05.R
Labels: HW5

#395 [HW5] Vinichenko Oleksii
  homeworks/hw5/VinichenkoOleksii/Choinka.R
  homeworks/hw5/VinichenkoOleksii/choinka.png
Labels: HW5

#396 [HW5] Andrzejewski Maciej
  homeworks/hw5/AndrzejewskiMaciej/choinka.R
  homeworks/hw5/AndrzejewskiMaciej/choinka.png
Labels: HW5

#398 [HW5] Skoczylas Katarzyna
  homeworks/hw5/SkoczylasKatarzyna/choinka.gif
  homeworks/hw5/SkoczylasKatarzyna/hw5.R
Labels: HW5

#400 Wojterska Ada [HW5]
  homeworks/hw5/WojterskaAda/choinkaAda.R
  homeworks/hw5/WojterskaAda/choinka_twd.png
Labels: HW5

#401 [HW5] Glowinski Pawel
  homeworks/hw5/GlowinskiPawel/choinka.jpeg
  homeworks/hw5/GlowinskiPawel/hw5.R
Labels: HW5

#402 [HW5] Rybak Jakub
  homeworks/hw5/RybakJakub/app.R
  homeworks/hw5/RybakJakub/choinka gif.gif
Labels: HW5

#403 [HW5] Tomaszkiewicz Julia
  homeworks/hw5/TomaszkiewiczJulia/choinka.R
  homeworks/hw5/TomaszkiewiczJulia/choinka.png
Labels: HW5

#404 [HW5] Kawulska Karolina
  homeworks/hw5/KawulskaKarolina/choinka.R
  homeworks/hw5/KawulskaKarolina/choinka.gif
Labels: HW5

#405 [HW5] Luckner Aleksander
  homeworks/hw5/LucknerAleksander/HW7.R
  homeworks/hw5/LucknerAleksander/turtle.png
  homeworks/hw5/LucknerAleksander/żółwik.gif
Labels: HW5

#407 [HW5] Sadowska Martyna
  homeworks/hw5/SadowskaMartyna/animated-christmas-tree-234.gif
  homeworks/hw5/SadowskaMartyna/animated_christmas_tree.R
Labels: HW5

#408 [HW5] Szczerbinska Hanna
  homeworks/hw5/SzczerbinskaHanna/christmas_tree.png
  homeworks/hw5/SzczerbinskaHanna/full_data.csv
  homeworks/hw5/SzczerbinskaHanna/generate_christmas_tree_data.py
  homeworks/hw5/SzczerbinskaHanna/hw5.R
Labels: HW5

#409 [HW5] Lahunovich Yahor
  homeworks/hw5/LahunovichYahor/tree.R
  homeworks/hw5/LahunovichYahor/tree.png
Labels: HW5

#410 [HW5] Madej Ludwik
  homeworks/hw5/MadejLudwik/choinka.png
  homeworks/hw5/MadejLudwik/zadanie_domowe_5.R
Labels: HW5

#411 [HW5] Jamroż Mateusz
  homeworks/hw5/JamrozMateusz/homework5.R
  homeworks/hw5/JamrozMateusz/homework5.pdf
Labels: HW5

#412 [HW5] Wolkowska Paula
  homeworks/hw5/WolkowskaPaula/hw5.R
  homeworks/hw5/WolkowskaPaula/hw5.jpeg
Labels: HW5

#413 [HW5] Syrkiewicz Michal
  homeworks/hw5/SyrkiewiczMichal/Drzewko.png
  homeworks/hw5/SyrkiewiczMichal/[HW5]Michal_Syrkiewicz.R
Labels: HW5

#414 [HW5] Sulowski Michał
  homeworks/hw5/SulowskiMichał/choinka.R
  homeworks/hw5/SulowskiMichał/choinkaTWD.png
Labels: HW5

#415 [HW5] Winkler Maciej
  homeworks/hw5/WinklerMaciej/choinka.jpg
  homeworks/hw5/WinklerMaciej/homework05.R
Labels: HW5

#416 [HW5] Miszczak Jakub
  homeworks/hw5/MiszczakJakub/choinka.gif
  homeworks/hw5/MiszczakJakub/choinkaMiszczakJakub.R
Labels: HW5

#417 [HW5] Kotlowski Piotr
  homeworks/hw5/KotlowskiPiotr/Choinka.R
  homeworks/hw5/KotlowskiPiotr/Choinka.gif
Labels: HW5

#418 [HW5] Jankowska Liwia
  homeworks/hw5/JankowskaLiwia/Drzewka.png
  homeworks/hw5/JankowskaLiwia/HW5_JankowskaLiwia.R
Labels: HW5

#419 [HW5] Sirko Liliana
  homeworks/hw5/SirkoLiliana/animowana_choinka.py
  homeworks/hw5/SirkoLiliana/choinka.gif
Labels: HW5

#420 [HW5] Gwozdz Michal
  homeworks/hw5/GwozdzMichal/choinka.R
  homeworks/hw5/GwozdzMichal/choinka.gif
Labels: HW5

#421 [HW5] Gajda Stefan
  homeworks/hw5/GajdaStefan/GajdaStefan.R
  homeworks/hw5/GajdaStefan/Rplot.png
Labels: HW5

#422 [HW5] Kwoka Klaudia
  homeworks/hw5/KwokaKlaudia/hw5.R
  homeworks/hw5/KwokaKlaudia/hw5.png
Labels: HW5

#423 [HW5] Botero Leonik Sebastian
  homeworks/hw5/BoteroLeonikSebastian/choinka.html
  homeworks/hw5/BoteroLeonikSebastian/hw5.R
Labels: HW5

#424 [HW5] TaranJan
  homeworks/hw5/TaranJan/tree.py
  homeworks/hw5/TaranJan/tree_animation.gif
Labels: HW5
