Repository kozaka93/2024Z-DataVisualizationTechniques, pull requests merged in 2024-10, with the labels that each got.

#2 [HW0] Sadowska Martyna
  homeworks/hw0/SadowskaMartyna/lab01.R
Labels: HW0

#3 [HW0] Skoczylas Katarzyna
  homeworks/hw0/SkoczylasKatarzyna/lab01.R
Labels: HW0

#4 [HW0] Rzeźniczak Kacper
  homeworks/hw0/RzezniczakKacper/lab01.R
Labels: HW0

#5 [HW0] Przezdziecka Alicja
  homeworks/hw0/PrzezdzieckaAlicja/lab01.R
Labels: HW0

#6 [HW0] Zawadka Aleksandra
  homeworks/hw0/ZawadkaAleksandra/lab01.R
Labels: HW0

#8 [HW0] Rakowski Antoni
  homeworks/hw0/RakowskiAntoni/lab01.R
Labels: HW0

#9 [HW0] Tomczyk Kacper
  homeworks/hw0/TomczykKacper/lab01.R
Labels: HW0

#12 [HW0] Zabkowski Bartosz
  homeworks/hw0/ZabkowskiBartosz/zabkowski_bartosz.R
Labels: HW0

#13 [HW0] Wysocki Piotr
  homeworks/hw0/PiotrWysocki/lab01.R
Labels: HW0

#14 [HW0] Zalewska Zuzanna
  homeworks/hw0/ZalewskaZuzanna/proton.R
Labels: HW0

#15 [HW0] Wolkowska Paula
  homeworks/hw0/WolkowskaPaula/lab1_gra.R
Labels: HW0

#17 [HW0] Sirko Liliana
  homeworks/hw0/SirkoLiliana/lab01.R
Labels: HW0

#18 [HW0]ZielinskiMilosz
  homeworks/hw0/ZielinskiMilosz/lab01.R
Labels: HW0

#19 [HW0] Więckowska Kamila
  homeworks/hw0/KamilaWieckowska/lab01-rozw.R
Labels: HW0

#22 [HW0] Polkowski Cezary
  homeworks/hw0/PolkowskiCezary/lab01.R
  homeworks/hw0/PolkowskiCezary/lab01.Rproj
  homeworks/hw0/PolkowskiCezary/zadanie proton.R
Labels: HW0

#30 [hw0] Grabowski Gabriel
  homeworks/hw0/GrabowskiGabriel/proton.R
Labels: HW0

#27 [HW0] Stasiak Mateusz
  homeworks/hw0/StasiakMateusz/lab01.R
Labels: HW0

#26 [HW0]Winkler Maciej
  homeworks/hw0/WinklerMaciej/proton.R
Labels: HW0

#25 [HW0] Radacka Julia
  homeworks/hw0/RadackaJulia/julia_radacka_lab01.R
Labels: HW0

#24 [HW0] Szczerbinska Hanna
  homeworks/hw0/SzczerbinskaHanna/lab01.R
Labels: HW0

#23 [HW0] Rybak Jakub
  homeworks/hw0/RybakJakub/lab01.R
Labels: HW0

#35 [HWO] RazantsauMaksim
  homeworks/hw0/RazantsauMaksim/proton.R
Labels: HW0

#33 [HW0] Kwoka Klaudia
  homeworks/hw0/KwokaKlaudia/proton.R
Labels: HW0

#32 hw0 Wojciech Baraniak
  homeworks/hw0/WojciechBaraniak/proton.R
Labels: HW0

#31 [HW0] Bartkowiak Daria
  homeworks/hw0/BartkowiakDaria/proton.game.R
Labels: HW0

#36 [HW0] Gwóźdź Michał
  homeworks/hw0/GwozdzMichal/gra_proton.R
Labels: HW0

#44 [hw0] BojskiMikolaj
  homeworks/hw0/BojskiMikolaj/lab01_proton.R
Labels: HW0

#43 [HW0] Tomaszkiewicz Julia
  homeworks/hw0/TomaszkiewiczJulia/lab01.R
Labels: HW0

#42 [HW0] Sulowski Michał
  homeworks/hw0/SulowskiMichał/lab01.R
Labels: HW0

#41 [HW0]Jozef-Dubois
  homeworks/hw0/DuboisJozef/lab1.R
Labels: HW0

#39 [HW0] Stefan Gajda
  homeworks/hw0/GajdaStefan/Probnypullrequestnumer1.R
Labels: HW0

#37 [HW0] Andrzejewski Maciej
  homeworks/hw0/AndrzejewskiMaciej/proton.R
Labels: HW0

#62 [HW0] TaranJan
  homeworks/hw0/TaranJan/.Rhistory
  homeworks/hw0/TaranJan/lab01.R
Labels: HW0

#46 [HW0] Wojcicka Oliwia
  homeworks/hw0/WojcickaOliwia/lab01.R
Labels: HW0

#47 [HW0] Socha Karol
  homeworks/hw0/SochaKarol/lab01.R
Labels: HW0

#48 [HW0] Lahunovich Yahor
  homeworks/hw0/LahunovichYahor/proton.R
Labels: HW0

#59 [HW0] Kieltyka Szymon
  homeworks/hw0/KieltykaSzymon/lab01-proton.R
Labels: HW0

#60 [HW0] Kawa Wiktoria
  homeworks/hw0/KawaWiktoria/lab01TWD.R
Labels: HW0

#61 [HW0] Osinski Krzysztof
  homeworks/hw0/OsinskiKrzysztof/lab01.R
Labels: HW0

#58 [HW0] Kacprzak Karol
  homeworks/hw0/KacprzakKarol/twd1.R
Labels: HW0

#51 [HW0] Madej Ludwik
  homeworks/hw0/MadejLudwik/01_LudwikMadej.R
Labels: HW0

#52 [HW0] Kawulska Karolina
  homeworks/hw0/KawulskaKarolina/lab01.R
Labels: HW0

#53 [HW0] Jankowska Liwia
  homeworks/hw0/JankowskaLiwia/lab01TWD.R
Labels: HW0

#54 [HW0] Miszczak Jakub
  homeworks/hw0/MiszczakJakub/twd laby 1 jm.R
Labels: HW0

#55 [HW0] Dzeranhouskaya Daminika
  homeworks/hw0/DzeranhouskayaDaminika/lab01.R
Labels: HW0

#56 [HW0] Kotlowski Piotr
  homeworks/hw0/KotlowskiPiotr/TWD_1.R
Labels: HW0

#57 [HW0] Vinichenko Oleksii
  homeworks/hw0/VinichenkoOleksii/proton_test.R
Labels: HW0

#50 [HW0] Luckner Aleksander
  homeworks/hw0/LucknerAleksander/Proton.R
Labels: HW0

#38 [HW0] Jamroż Mateusz
  homeworks/hw0/jamrozmateusz/próba.R
Labels: HW0

#64 [HW1]WysockiPiotr
  homeworks/hw1/WysockiPiotr/WysockiPiotr.rds
  homeworks/hw1/WysockiPiotr/[HW1] Wysocki Piotr.R
  homeworks/hw1/WysockiPiotr/desktop.ini
Labels: HW1

#65 [HW1] Sulowski Michał
  homeworks/hw1/SulowskiMichal/SulowskiMichal.rds
  homeworks/hw1/SulowskiMichal/homework01.R
Labels: HW1

#71 [HW1] Miszczak Jakub
  homeworks/hw1/MiszczakJakub/MiszczakJakub.rds
  homeworks/hw1/MiszczakJakub/jakubmiszczakHW1.R
Labels: HW1

#72 [HW1] Wołkowska Paula
  homeworks/hw1/WolkowskaPaula/TWD_hw1.R
  homeworks/hw1/WolkowskaPaula/WolkowskaPaula.rds
Labels: HW1

#73 [HW1] Kotlowski Piotr
  homeworks/hw1/KotlowskiPiotr/KotlowskiPiotr.R
  homeworks/hw1/KotlowskiPiotr/KotlowskiPiotr.rds
Labels: HW1

#76 [HW1] Szczerbinska Hanna
  homeworks/hw1/SzczerbinskaHanna/SzczerbinskaHanna.rds
  homeworks/hw1/SzczerbinskaHanna/homework01.R
Labels: HW1

#78 [HW1] SyrkiewiczMichal
  homeworks/hw1/SyrkiewiczMichal/HW1.R
  homeworks/hw1/SyrkiewiczMichal/SyrkiewiczMichal.rds
Labels: HW1

#79 [HW1]RakowskiAntoni
  homeworks/hw1/RakowskiAntoni/RakowskiAntoni.rds
  homeworks/hw1/RakowskiAntoni/homework01.R
Labels: HW1

#80 [HW1] Bartkowiak Daria
  homeworks/hw1/BartkowiakDaria/BartkowiakDaria.rds
  homeworks/hw1/BartkowiakDaria/homework01.R
Labels: HW1

#83 [HW1] Radacka Julia
  homeworks/hw1/RadackaJulia/RadackaJulia.R
  homeworks/hw1/RadackaJulia/RadackaJulia.rds
Labels: HW1

#84 [HW1] Tomczyk Kacper
  homeworks/hw1/TomczykKacper/TomczykKacper.rds
  homeworks/hw1/TomczykKacper/homework01.R
Labels: HW1

#85 [HW1]WinklerMaciej
  homeworks/hw1/WinklerMaciej/WinklerMaciej.rds
  homeworks/hw1/WinklerMaciej/homework01.R
Labels: HW1

#88 [HW1] Zielinski Milosz
  homeworks/hw1/ZielinskiMilosz/ZielinskiMilosz.rds
  homeworks/hw1/ZielinskiMilosz/homework_1.R
Labels: HW1

#89 [HW 1] Zalewska Zuzanna
  homeworks/hw1/ZalewskaZuzanna/ZalewskaZuzanna.R
  homeworks/hw1/ZalewskaZuzanna/ZalewskaZuzanna.rds
Labels: HW1

#90 [HW1] Kawa Wiktoria
  homeworks/hw1/KawaWiktoria/KawaWiktoria.rds
  homeworks/hw1/KawaWiktoria/homework01.R
Labels: HW1

#91 [HW1] Brandt Aleksander
  homeworks/hw1/BrandtAleksander/BrandtAleksander.R
  homeworks/hw1/BrandtAleksander/BrandtAleksander.rds
Labels: HW1

#92 [HW1] Kawulska Karolina
  homeworks/hw1/KawulskaKarolina/KawulskaKarolina.rds
  homeworks/hw1/KawulskaKarolina/homework01.R
Labels: HW1

#93 [HW1] Wojcicka Oliwia
  homeworks/hw1/WojcickaOliwia/WojcickaOliwia.rds
  homeworks/hw1/WojcickaOliwia/WojcickaOliwiaHW1.R
Labels: HW1

#95 [HW1] RazantsauMaksim
  homeworks/hw1/RazantsauMaksim/RazantsauMaksim.rds
  homeworks/hw1/RazantsauMaksim/homework01.R
Labels: HW1

#96 [HW1] Luckner Aleksander
  homeworks/hw1/LucknerAleksander/LucknerAleksander.rds
  homeworks/hw1/LucknerAleksander/homework01.R
Labels: HW1

#97 [HW1] Madej Ludwik
  homeworks/hw1/MadejLudwik/MadejLudwik.rds
  homeworks/hw1/MadejLudwik/homework01.R
Labels: HW1

#98 [HW1] Stasiak Mateusz
  homeworks/hw1/StasiakMateusz/StasiakMateusz.R
  homeworks/hw1/StasiakMateusz/StasiakMateusz.rds
Labels: HW1

#99 [HW1] Dzeranhouskaya Daminika
  homeworks/hw1/DzeranhouskayaDaminika/DaminikaDzeranhouskaya.R
  homeworks/hw1/DzeranhouskayaDaminika/DzeranhouskayaDaminika.rds
Labels: HW1

#100 [HW1] Andrzejewski Maciej
  homeworks/hw1/AndrzejewskiMaciej/AndrzejewskiMaciej.R
  homeworks/hw1/AndrzejewskiMaciej/AndrzejewskiMaciej.rds
Labels: HW1

#102 [HW1] Skoczylas Katarzyna
  homeworks/hw1/SkoczylasKatarzyna/SkoczylasKatarzyna.rds
  homeworks/hw1/SkoczylasKatarzyna/homework01.R
Labels: HW1

#103 [HW1] Przezdziecka Alicja
  homeworks/hw1/AlicjaPrzezdziecka/AlicjaPrzezdziecka.rds
  homeworks/hw1/AlicjaPrzezdziecka/homework01.R
Labels: HW1

#104 [HW1] Sadowska Martyna
  homeworks/hw1/SadowskaMartyna/SadowskaMartyna.rds
  homeworks/hw1/SadowskaMartyna/homework01.R
Labels: HW1

#105 [HW1] Zawadka Aleksandra
  homeworks/hw1/ZawadkaAleksandra/ZawadkaAleksandra.rds
  homeworks/hw1/ZawadkaAleksandra/homework01.R
Labels: HW1

#106 [HW1] CzarneckiRyszard
  homeworks/hw1/CzarneckiRyszard/CzarneckiRyszard.rds
  homeworks/hw1/CzarneckiRyszard/homework01.R
Labels: HW1

#107 [HW1] Kieltyka Szymon
  homeworks/hw1/KieltykaSzymon/KieltykaSzymon.rds
  homeworks/hw1/KieltykaSzymon/homework01.R
Labels: HW1

#108 [HW1] Rybak Jakub
  homeworks/hw1/RybakJakub/RybakJakub.rds
  homeworks/hw1/RybakJakub/praca_domowa_1.R
Labels: HW1

#109 [HW1] Bojski Mikolaj
  homeworks/hw1/BojskiMikolaj/BojskiMikolaj.rds
  homeworks/hw1/BojskiMikolaj/homework01.R
Labels: HW1

#111 [HW1] Glowinski Pawel
  homeworks/hw1/GlowinskiPawel/GlowinskiPawel.rds
  homeworks/hw1/GlowinskiPawel/HW01Glowinski_Pawel.R
Labels: HW1

#112 [HW1] Polkowski Cezary
  homeworks/hw1/PolkowskiCezary/PolkowskiCezary.rds
  homeworks/hw1/PolkowskiCezary/homework01.R
Labels: HW1

#113 [HW1] Hallak Elissa
  homeworks/hw1/HallakElissa/HallakElissa.rds
  homeworks/hw1/HallakElissa/pracadomowa1.R
Labels: HW1

#114 [HW1] Gajda Stefan
  homeworks/hw1/GajdaStefan/GajdaStefan.rds
  homeworks/hw1/GajdaStefan/homework01.R
Labels: HW1

#116 [HW1] Wojterska Ada
  homeworks/hw1/WojterskaAda/WojterskaAda.rds
  homeworks/hw1/WojterskaAda/homework01.R
Labels: HW1

#119 [HW1] Kwoka Klaudia
  homeworks/hw1/KwokaKlaudia/KwokaKlaudia.rds
  homeworks/hw1/KwokaKlaudia/homework01.R
Labels: HW1

#120 [HW1] Zabkowski Bartosz
  homeworks/hw1/ZabkowskiBartosz/ZabkowskiBartosz.R
  homeworks/hw1/ZabkowskiBartosz/ZabkowskiBartosz.rds
Labels: HW1

#121 [HW1] Jamroż Mateusz
  homeworks/hw1/JamrozMateusz/JamrozMateusz.rds
  homeworks/hw1/JamrozMateusz/homework01.R
Labels: HW1

#124 [HM1] Gwóźdź Michał
  homeworks/hw1/GwozdzMichal.R
  homeworks/hw1/homework01.R
Labels: HW1

#125 [HW1] Osinski Krzysztof
  homeworks/hw1/OsinskiKrzysztof/OsinskiKrzysztof.R
  homeworks/hw1/OsinskiKrzysztof/OsinskiKrzysztof.rds
Labels: HW1

#126 [HW1] Botero Leonik Sebastian
  homeworks/hw1/BoteroLeonikSebastian/BoteroLeonikSebastian.R
  homeworks/hw1/BoteroLeonikSebastian/BoteroLeonikSebastian.rds
Labels: HW1

#127 [HW1] Więckowska Kamila
  homeworks/hw1/WieckowskaKamila/WieckowskaKamila.R
  homeworks/hw1/WieckowskaKamila/WieckowskaKamila.rds
Labels: HW1

#128 [HW1] Kacprzak Karol
  homeworks/hw1/KacprzakKarol/KacprzakKarol.rds
  homeworks/hw1/KacprzakKarol/hw1.R
Labels: HW1

#129 [HW1] BaraniakWojciech
  homeworks/HW1/BaraniakWojciech/BaraniakWojciech.R
  homeworks/HW1/BaraniakWojciech/BaraniakWojciech.rds
Labels: HW1

#130 [HW1] Jankowska Liwia
  homeworks/hw1/JankowskaLiwia/JankowskaLiwia.R
  homeworks/hw1/JankowskaLiwia/JankowskaLiwia.rds
Labels: HW1

#117 [HW1] Tomaszkiewicz Julia
  homeworks/hw1/TomaszkiewiczJulia/TomaszkiewiczJulia.rds
  homeworks/hw1/TomaszkiewiczJulia/homework01.R
Labels: HW1

#132 [HW1] Sirko Liliana
  homeworks/hw1/SirkoLiliana/SirkoLiliana.rds
  homeworks/hw1/SirkoLiliana/homework01.R
Labels: HW1

#134 [HW1] Socha Karol
  homeworks/hw1/SochaKarol/SochaKarol.rds
  homeworks/hw1/SochaKarol/homework01.R
Labels: HW1

#135 [HW1] Dubois Jozef
  homeworks/hw1/DuboisJozef/DuboisJozef.rds
  homeworks/hw1/DuboisJozef/hw1code.R
Labels: HW1

#137 [HW1] Rzezniczak Kacper
  homeworks/hw1/RzezniczakKacper/RzezniczakKacper.rds
  homeworks/hw1/RzezniczakKacper/homework01.R
Labels: HW1

#138 [HW1] Lahunovich Yahor
  homeworks/hw1/LahunovichYahor/LahunovichYahor.rds
  homeworks/hw1/LahunovichYahor/h1-LahunovichYahor.R
Labels: HW1

#139 [HW1] Ryski Adam
  homeworks/hw1/RyskiAdam/RyskiAdam.rds
  homeworks/hw1/RyskiAdam/homework01.R
Labels: HW1

#68 [HW1] Grabowski Gabriel
  homeworks/hw1/GrabowskiGabriel/GrabowskiGabriel.R
  homeworks/hw1/GrabowskiGabriel/GrabowskiGabriel.rds
Labels: HW1

#144 [HW2] Sulowski Michał
  homeworks/hw2/SulowskiMichał/homework02.Rmd
  homeworks/hw2/SulowskiMichał/homework02.html
Labels: HW2

#145 [HW2] Grabowski Gabriel
  homeworks/hw2/GrabowskiGabriel/GrabowskiGabriel.Rmd
  homeworks/hw2/GrabowskiGabriel/GrabowskiGabriel.html
Labels: HW2

#147 [HW2] Kawa Wiktoria
  homeworks/hw2/KawaWiktoria/WiktoriaKawa.Rmd
  homeworks/hw2/KawaWiktoria/WiktoriaKawa.html
Labels: HW2

#148 [HW2] Vinichenko Oleksii
  homeworks/hw2/VinichenkoOleksii/VinichenkoOleksii.Rmd
  homeworks/hw2/VinichenkoOleksii/VinichenkoOleksii.html
Labels: HW2

#151 [HW2]WinklerMaciej
  homeworks/hw2/WinklerMaciej/homework02.Rmd
  homeworks/hw2/WinklerMaciej/homework02.html
Labels: HW2

#154 [HW2] Taran Jan
  homeworks/hw2/TaranJan/TaranJan.Rmd
  homeworks/hw2/TaranJan/TaranJanHTML.html
Labels: HW2

#155 [HW2] Wysocki Piotr
  homeworks/hw2/WysockiPiotr/homework02.Rmd
  homeworks/hw2/WysockiPiotr/homework02.html
Labels: HW2

#156 [HW2] Polkowski Cezary
  homeworks/hw2/PolkowskiCezary/homework02.Rmd
  homeworks/hw2/PolkowskiCezary/homework02.html
Labels: HW2

#157 [HW2] Tomczyk Kacper
  homeworks/hw2/TomczykKacper/homework02.Rmd
  homeworks/hw2/TomczykKacper/homework02.html
Labels: HW2

#159 [HW2] Zabkowski Bartosz
  homeworks/hw2/ZabkowskiBartosz/homework02.Rmd
  homeworks/hw2/ZabkowskiBartosz/homework02.html
Labels: HW2

#160 [HW2] Sadowska Martyna
  homeworks/hw2/SadowskaMartyna/homework02.Rmd
  homeworks/hw2/SadowskaMartyna/homework02.html
Labels: HW2

#161 [HW2] Glowinski Pawel
  homeworks/hw2/GlowinskiPawel/homework02.Rmd
  homeworks/hw2/GlowinskiPawel/homework02.html
Labels: HW2

#180 [HW2] RybakJakub
  homeworks/hw2/RybakJakub/homework02.Rmd
  homeworks/hw2/RybakJakub/homework02.html
Labels: HW2

#174 [HW2] Wolkowska Paula
  homeworks/hw2/WolkowskaPaula/homework02.Rmd
  homeworks/hw2/WolkowskaPaula/homework02.html
Labels: HW2

#178 [HW2] SyrkiewiczMichal
  homeworks/hw2/SyrkiewiczMichal/homework02.Rmd
  homeworks/hw2/SyrkiewiczMichal/homework02.html
Labels: HW2

#179 [HW2] Hallak Elissa
  homeworks/hw2/HallakElissa/homework02.Rmd
  homeworks/hw2/HallakElissa/homework02.html
Labels: HW2

#172 [HW2] Kawulska Karolina
  homeworks/hw2/KawulskaKarolina/homework02.Rmd
  homeworks/hw2/KawulskaKarolina/homework02.html
Labels: HW2

#173 [HW2] Gwóźdź Michał
  homeworks/hw2/GwozdzMichal/homework02.Rmd
  homeworks/hw2/GwozdzMichal/homework02.html
Labels: HW2

#169 [HW2] Jamroż Mateusz
  homeworks/homework2/JamrozMateusz/homework02.Rmd
  homeworks/homework2/JamrozMateusz/homework02.html
Labels: HW2

#170 [HW2] Bartkowiak Daria
  homeworks/hw2/BartkowiakDaria/homework_02.Rmd
  homeworks/hw2/BartkowiakDaria/homework_02.html
Labels: HW2

#171 [HW 2] Wojcicka Oliwia
  homeworks/hw2/WojcickaOliwia/WojcickaOliwia_hw2.Rmd
  homeworks/hw2/WojcickaOliwia/WojcickaOliwia_hw2.html
Labels: HW2

#168 [HW2] Kotlowski Piotr
  homeworks/hw2/KotlowskiPiotr/KotlowskiPiotr.Rmd
  homeworks/hw2/KotlowskiPiotr/KotlowskiPiotr.html
Labels: HW2

#166 [HW 2] Zalewska Zuzanna
  homeworks/hw2/ZalewskaZuzanna/homework02.Rmd
  homeworks/hw2/ZalewskaZuzanna/homework02.html
Labels: HW2

#165 [HW2] Przeździecka Alicja
  homeworks/hw2/PrzezdzieckaAlicja/homework02.Rmd
  homeworks/hw2/PrzezdzieckaAlicja/homework02.html
Labels: HW2

#163 [HW2] Brandt Aleksander
  homeworks/BrandtAleksander/homework02.Rmd
  homeworks/BrandtAleksander/homework02.html
Labels: HW2

#162 [HW2] Radacka Julia
  homeworks/hw2/RadackaJulia/homework02.Rmd
  homeworks/hw2/RadackaJulia/homework02.html
Labels: HW2

#185 [HW2] Dzeranhouskaya Daminika
  homeworks/hw2/DzeranhouskayaDaminika/DzeranhouskayaDaminika.Rmd
  homeworks/hw2/DzeranhouskayaDaminika/DzeranhouskayaDaminika.html
Labels: HW2

#181 [HW2] Czarnecki Ryszard
  homeworks/hw2/CzarneckiRyszard/homework02.Rmd
  homeworks/hw2/CzarneckiRyszard/homework02.html
Labels: HW2

#182 [HW2] Miszczak Jakub
  homeworks/hw2/MiszczakJakub/jakubmiszczakHW2.Rmd
Labels: HW2

#183 [HW2] Stasiak Mateusz
  homeworks/hw2/StasiakMateusz/StasiakMateusz.Rmd
  homeworks/hw2/StasiakMateusz/StasiakMateusz.html
Labels: HW2

#184 [HW2] Szczerbińska Hanna
  homeworks/hw2/SzczerbinskaHanna/homework02.Rmd
  homeworks/hw2/SzczerbinskaHanna/homework02.html
Labels: HW2

#187 [HW2] Rakowski Antoni
  homeworks/hw2/RakowskiAntoni/homework02.Rmd
  homeworks/hw2/RakowskiAntoni/homework02.html
Labels: HW2

#188 [HW2] Zawadka Aleksandra
  homeworks/hw2/ZawadkaAleksandra/homework02.Rmd
  homeworks/hw2/ZawadkaAleksandra/homework02.html
Labels: HW2

#189 [HW2] Wojterska Ada
  homeworks/hw2/WojterskaAda/homework02.Rmd
  homeworks/hw2/WojterskaAda/homework02.html
Labels: HW2

#191 [HW2] Bójski Mikołaj
  homeworks/hw2/BojskiMikolaj/homework02.Rmd
  homeworks/hw2/BojskiMikolaj/homework02.html
Labels: HW2

#192 [HW2] Zieliński Miłosz
  homeworks/hw2/ZielinskiMilosz/homework02.Rmd
  homeworks/hw2/ZielinskiMilosz/homework02.html
Labels: HW2

#193 [HW2] Stefan Gajda
  homeworks/hw2/GajdaStefan/homework02.Rmd
  homeworks/hw2/GajdaStefan/homework02.html
Labels: HW2

#194 [HW2] Kwoka Klaudia
  homeworks/hw2/KwokaKlaudia/homework02.Rmd
  homeworks/hw2/KwokaKlaudia/homework02.html
Labels: HW2

#209 [HW2] Osinski Krzysztof
  homeworks/hw2/OsinskiKrzysztof/homework02.Rmd
  homeworks/hw2/OsinskiKrzysztof/homework02.html
Labels: HW2

#197 [HW2] Skoczylas Katarzyna
  homeworks/hw2/SkoczylasKatarzyna/homework02.Rmd
  homeworks/hw2/SkoczylasKatarzyna/homework02.html
Labels: HW2

#198 [HW2] Razantsau Maksim
  homeworks/hw2/RazantsauMaksim/homework02.Rmd
  homeworks/hw2/RazantsauMaksim/homework02.html
Labels: HW2

#199 [HW2] Andrzejewski Maciej
  homeworks/hw2/AndrzejewskiMaciej/homework02.Rmd
  homeworks/hw2/AndrzejewskiMaciej/homework02.html
Labels: HW2

#200 [HW2] DuboisJozef
  homeworks/hw2/DuboisJozef/homework02.Rmd
  homeworks/hw2/DuboisJozef/homework02.html
Labels: HW2

#201 [HW2] Sirko Liliana
  homeworks/hw2/SirkoLiliana/homework02.Rmd
  homeworks/hw2/SirkoLiliana/homework02.html
Labels: HW2

#202 [HW2] Madej Ludwik
  homeworks/hw2/MadejLudwik/MadejLudwik.Rmd
  homeworks/hw2/MadejLudwik/MadejLudwik.html
Labels: HW2

#203 [HW2] Kacprzak Karol
  homeworks/hw2/KacprzakKarol/homework02.Rmd
  homeworks/hw2/KacprzakKarol/homework02.html
Labels: HW2
