Repository kozaka93/2024Z-DataVisualizationTechniques, pull requests merged in 2024-11, with the labels that each got.

#210 [HW2] Jankowska Liwia
  homeworks/hw2/JankowskaLiwia/JankowskaLiwia.Rmd
  homeworks/hw2/JankowskaLiwia/JankowskaLiwia.html
Labels: HW2, Late ⏰

#206 [HW2] Baraniak Wojciech
  homeworks/hw2/BaraniakWojciech/homework02.Rmd
  homeworks/hw2/BaraniakWojciech/homework02.html
Labels: HW2

#211 [HW2] Rzeźniczak Kacper
  homeworks/hw2/RzezniczakKacper/homework02.Rmd
  homeworks/hw2/RzezniczakKacper/homework02.html
Labels: HW2, Late ⏰

#213 [HW2] Ryski Adam
  homeworks/hw2/RyskiAdam/homework02.Rmd
  homeworks/hw2/RyskiAdam/homework02.html
Labels: HW2, Late ⏰

#214 [HW3] WołkowskaPaula
  homeworks/hw3/WolkowskaPaula/hw3_WolkowskaPaula.pdf
Labels: HW3

#215 [HW3] Sulowski Michał
  homeworks/hw3/SulowskiMichał/HW3_Raport_Michał_Sulowski.html
Labels: HW3

#216 [HW3] Vinichenko Oleksii
  homeworks/hw3/VinichenkoOleksii/VinichenkoOleksii.Rmd
  homeworks/hw3/VinichenkoOleksii/VinichenkoOleksii.html
  homeworks/hw3/VinichenkoOleksii/gdp.jpg
  homeworks/hw3/VinichenkoOleksii/gdp_all.jpg
  homeworks/hw3/VinichenkoOleksii/gdp_data.csv
  homeworks/hw3/VinichenkoOleksii/hw3.Rproj
  homeworks/hw3/VinichenkoOleksii/medals_total.csv
Labels: HW3

#218 [HW3] Radacka Julia
  homeworks/hw3/RadackaJulia/bazowa.xlsx
  homeworks/hw3/RadackaJulia/homework03.Rmd
  homeworks/hw3/RadackaJulia/homework03.html
  homeworks/hw3/RadackaJulia/original_chart.png
Labels: HW3

#219 [HW3] Rybak Jakub
  homeworks/hw3/RybakJakub/Jakub Rybak.pdf
Labels: HW3

#220 [HW3] Szczerbińska Hanna
  homeworks/hw3/SzczerbinskaHanna/homework03.html
Labels: HW3

#221 [HW3] Przeździecka Alicja
  homeworks/hw3/PrzezdzieckaAlicja/HW3PrzezdzieckaAlicja.html
Labels: HW3

#222 [HW3] Razantsau Maksim
  homeworks/hw3/RazantsauMaksim/HWTWD3.Rmd
  homeworks/hw3/RazantsauMaksim/HWTWD3.html
  homeworks/hw3/RazantsauMaksim/niepoprawny.png
Labels: HW3

#223 [HW3] Andrzejewski Maciej
  homeworks/hw3/AndrzejewskiMaciej/hw3.html
Labels: HW3

#224 [HW 3] Wojcicka Oliwia
  homeworks/hw3/WojcickaOliwia/homework03.Rmd
  homeworks/hw3/WojcickaOliwia/homework03.html
  homeworks/hw3/WojcickaOliwia/images/Rplot12.png
  homeworks/hw3/WojcickaOliwia/images/statistic_id1422638_us-attention-to-presidential-campaigns-2024-by-age.png
Labels: HW3

#225 [HW3] Zabkowski Bartosz
  homeworks/hw3/ZabkowskiBartosz/Zabkowski_Bartosz_HW3.html
Labels: HW3

#226 [HW3] Lahunovich Yahor
  homeworks/hw3/LahunovichYahor/indian_air.Rmd
  homeworks/hw3/LahunovichYahor/indian_air.html
  homeworks/hw3/LahunovichYahor/indian_air.jpeg
Labels: HW3

#227 [HW3] Zalewska Zuzanna
  homeworks/hw3/ZalewskaZuzanna/ZalewskaZuzanna.pdf
Labels: HW3

#228 [HW3] Kotlowski Piotr
  homeworks/hw3/KotlowskiPiotr/HW3_Kotlowski_Piotr.Rmd
  homeworks/hw3/KotlowskiPiotr/HW3_Kotlowski_Piotr.html
  homeworks/hw3/KotlowskiPiotr/Interia.png
Labels: HW3

#229 [HM3] Maciej Winkler
  homeworks/hw3/WinklerMaciej/homework03.R
  homeworks/hw3/WinklerMaciej/homework03.Rmd
  homeworks/hw3/WinklerMaciej/homework03.html
  homeworks/hw3/WinklerMaciej/images/wykres.jpg
  homeworks/hw3/WinklerMaciej/images/wykres2.jpg
Labels: HW3

#230 [HW3] Sadowska Martyna
  homeworks/hw3/SadowskaMartyna/homework03.html
Labels: HW3

#231 [HW3] Kwoka Klaudia
  homeworks/hw3/KwokaKlaudia/homework03.html
Labels: HW3

#240 [HW3] WysockiPiotr
  homeworks/hw3/WysockiPiotr/homework3.html
Labels: HW3

#243 [HW3] CzarneckiRyszard
  homeworks/hw3/CzarneckiRyszard/CzarneckiRyszard.html
Labels: HW3

#233 [HW3] Zielinski Milosz
  homeworks/hw3/ZielinskiMilosz/china_hidden_debt.jpg
  homeworks/hw3/ZielinskiMilosz/homework03.html
Labels: HW3

#236 [HW3] BartkowiakDaria
  homeworks/hw3/BartkowiakDaria/Daria_Bartkowiak_TWD3.pdf
Labels: HW3

#244 [HW3] Tomczyk Kacper
  homeworks/hw3/TomczykKacper/TomczykKacper.pdf
Labels: HW3

#245 [HW3] Madej Ludwik
  homeworks/hw3/MadejLudwik/Ludwik Madej.pdf
Labels: HW3

#246 [HW3] Kawulska Karolina
  homeworks/hw3/KawulskaKarolina/homework03.Rmd
  homeworks/hw3/KawulskaKarolina/homework03.html
Labels: HW3

#247 [HW3] Jamroż Mateusz
  homeworks/hw3/JamrozMateusz/Mateusz_Jamroz_TWD3.pdf
Labels: HW3

#249 [HW3] WysockiPiotr
  homeworks/hw3/WysockiPiotr/homework3.html
Labels: HW3

#250 [projekt 1] Sadowska_Skoczylas_Zawadka
  projects/project1/Sadowska_Skoczylas_Zawadka/README.md
  projects/project1/Sadowska_Skoczylas_Zawadka/Sadowska_Skoczylas_Zawadka.pdf
  projects/project1/Sadowska_Skoczylas_Zawadka/Sadowska_Skoczylas_Zawadka.png
  projects/project1/Sadowska_Skoczylas_Zawadka/kody/Donors_sex.r
  projects/project1/Sadowska_Skoczylas_Zawadka/kody/Organ_Donation_and_Transplantation_Data.xlsx
  projects/project1/Sadowska_Skoczylas_Zawadka/kody/Organs_transplant_percentage.r
  projects/project1/Sadowska_Skoczylas_Zawadka/kody/Polska_1966.csv
  projects/project1/Sadowska_Skoczylas_Zawadka/kody/Transnational_Crime2.xlsx
  projects/project1/Sadowska_Skoczylas_Zawadka/kody/crime.r
  projects/project1/Sadowska_Skoczylas_Zawadka/kody/poland.r
  projects/project1/Sadowska_Skoczylas_Zawadka/kody/radar_chart_survival.R
  projects/project1/Sadowska_Skoczylas_Zawadka/kody/survival_rate.xlsx
Labels: P1

#251 [HW3] Gajda Stefan
  homeworks/hw3/GajdaStefan/HW3 TWD.pdf
Labels: HW3

#252 [HW3] KawaWiktoria
  homeworks/hw3/KawaWiktoria/WiktoriaKawaPD3.html
  homeworks/hw3/WiktoriaKawaPD3.html
Labels: HW3

#253 [HW3] Gwóźdź Michał
  homeworks/hw3/GwozdzMichal/gwozdz_hm3.html
Labels: HW3

#254 [HW3] Zawadka Aleksandra
  homeworks/hw3/ZawadkaAleksandra/ArizonaPlot.png
  homeworks/hw3/ZawadkaAleksandra/homework3.Rmd
  homeworks/hw3/ZawadkaAleksandra/homework3.html
Labels: HW3

#258 [HW3] SyrkiewiczMichal
  homeworks/hw3/SyrkiewiczMichal/HW3_Michał_Syrkiewicz.pdf
Labels: HW3

#259 [HW3] Wojterska Ada
  homeworks/hw3/WojterskaAda/homework03.html
Labels: HW3

#263 [HW3] TaranJan
  homeworks/hw3/TaranJan/HW3_TaranJan.pdf
Labels: HW3

#270 [HW3] Hallak Elissa
  homeworks/hw3/HallakElissa/Elissa Hallak HW3.pdf
  homeworks/hw3/HallakElissa/Zrzut ekranu 2024-11-12 212147.png
  homeworks/hw3/HallakElissa/praca domowa 3.R
  homeworks/hw3/HallakElissa/praca domowa 3.Rmd
  projects/project1/Hallak_Tomaszkiewicz_Wójcicka/Hallak_Tomaszkiewicz_Wójcicka.pdf
  projects/project1/Hallak_Tomaszkiewicz_Wójcicka/Hallak_Tomaszkiewicz_Wójcicka.png
  projects/project1/Hallak_Tomaszkiewicz_Wójcicka/README.md
  projects/project1/Hallak_Tomaszkiewicz_Wójcicka/kody/Hallak_Tomaszkiewicz_Wójcicka.R
  projects/project1/Hallak_Tomaszkiewicz_Wójcicka/kody/countries (1).r
  projects/project1/Hallak_Tomaszkiewicz_Wójcicka/kody/countries.csv
  projects/project1/Hallak_Tomaszkiewicz_Wójcicka/kody/dane-rodzina-csv.csv
  projects/project1/Hallak_Tomaszkiewicz_Wójcicka/kody/dane-znajomi-csv.csv
  projects/project1/Hallak_Tomaszkiewicz_Wójcicka/kody/wykres-mhq-wiek-rodzina-znajomi.r
Labels: P1, HW3

#272 [HW3] Polkowski Cezary
  homeworks/hw3/PolkowskiCezary/dane_elekcje.csv
  homeworks/hw3/PolkowskiCezary/kod.R
  homeworks/hw3/PolkowskiCezary/raport.docx
  homeworks/hw3/PolkowskiCezary/raport.pdf
Labels: HW3

#273 [HW3] Kawulska Karolina
  homeworks/hw3/KawulskaKarolina/homework03.Rmd
  homeworks/hw3/KawulskaKarolina/wykrespd3.png
Labels: HW3

#295 [HW3] Botero Leonik Sebastian
  homeworks/hw3/BoteroLeonikSebastian/BoteroLeonikSebastian.html
Labels: HW3

#292 [projekt1] Botero_Bojski_Brandt
  homeworks/hw3/BojskiMikolaj/homework03.html
  projects/project1/Botero_Bojski_Brandt/Botero_Bojski_Brandt.pdf
  projects/project1/Botero_Bojski_Brandt/Botero_Bojski_Brandt.png
  projects/project1/Botero_Bojski_Brandt/README.md
  projects/project1/Botero_Bojski_Brandt/kody/data_preparation_and_charts.R
Labels: P1, HW3

#293 [projekt 1] Kotłowski_Luckner_Madej
  projects/project1/Kotłowski_Luckner_Madej/Kotłowski_Luckner_Madej.pdf
  projects/project1/Kotłowski_Luckner_Madej/data.txt
  projects/project1/Kotłowski_Luckner_Madej/kody/3wykresy.R
  projects/project1/Kotłowski_Luckner_Madej/kody/poprawiony_pierwszy.R
Labels: P1

#291 [projekt 1] Razantsau_Gwozdz_Glowinski
  projects/project1/Razantsau_Gwozdz_Glowinski/Projekt TWD.pdf
  projects/project1/Razantsau_Gwozdz_Glowinski/README.md
  projects/project1/Razantsau_Gwozdz_Glowinski/kody/BeverageTypesPlotData.zip
  projects/project1/Razantsau_Gwozdz_Glowinski/kody/NumberofPrematureDeaths.zip
Labels: P1

#284 [HW3] Jankowska Liwia
  homeworks/hw3/JankowskaLiwia/HW3_JankowskaLiwia_ilustracja.pdf
  homeworks/hw3/JankowskaLiwia/HW3_JankowskaLiwia_kod.R
Labels: HW3

#294 [HW3] Kieltyka Szymon
  homeworks/hw3/KieltykaSzymon/homework03.Rmd
  homeworks/hw3/KieltykaSzymon/homework03.html
  homeworks/hw3/KieltykaSzymon/hw3.png
Labels: HW3

#296 [HW3] Osinski Krzysztof
  homeworks/hw3/OsinskiKrzysztof/HW3_Osinski_Krzysztof.pdf
Labels: HW3

#298 [HW3] Dzeranhouskaya Daminika
  homeworks/hw3/DzeranhouskayaDaminika/Dzeranhouskaya_Daminika.pdf
Labels: HW3

#299 [HW3] Kieltyka Szymon
  homeworks/hw3/KieltykaSzymon/homework03.Rmd
  homeworks/hw3/KieltykaSzymon/homework03.html
Labels: HW3

#304 [HW3] Grabowski Gabriel
  homeworks/hw3/GrabowskiGabriel/GrabowskiGabriel_HW3.pdf
Labels: HW3

#305 [HW3] Miszczak Jakub
  homeworks/hw3/MiszczakJakub/JakubMiszczakHW3.pdf
Labels: HW3

#307 [HW3] Dubois Jozef
  homeworks/hw3/DuboisJozef/homework03.Rmd
  homeworks/hw3/DuboisJozef/homework03.html
  homeworks/hw3/DuboisJozef/paskuda.png
Labels: HW3

#306 [HW3] Kacprzak Karol
  homeworks/hw3/KacprzakKarol/extra-eu-trade-electric-cars-2023.png
  homeworks/hw3/KacprzakKarol/hw3.Rmd
  homeworks/hw3/KacprzakKarol/hw3.html
Labels: HW3

#308 [HW3] Więckowska Kamila
  homeworks/hw3/WieckowskaKamila/pd.Rmd
  homeworks/hw3/WieckowskaKamila/pd.html
  homeworks/hw3/WieckowskaKamila/poprawiony_wykres.png
  homeworks/hw3/WieckowskaKamila/wykres_do_poprawy.jpg
Labels: HW3

#312 [HW3] Socha Karol
  homeworks/hw3/SochaKarol/images/bad_plot.jpeg
  homeworks/hw3/SochaKarol/images/good_plot1.png
  homeworks/hw3/SochaKarol/plot_code.R
  homeworks/hw3/SochaKarol/raportKarolSocha.docx
  homeworks/hw3/SochaKarol/raportKarolSocha.pdf
Labels: HW3

#313 [HW3] Ryski Adam
  homeworks/hw3/RyskiAdam/homework03.html
  homeworks/hw3/RyskiAdam/hw3-source.png
Labels: HW3

#314 [projekt 1] Razantsau_Gwozdz_Glowinski
  projects/project1/Razantsau_Gwozdz_Glowinski/kody/aud_chart.zip
Labels: P1

#309 [HW3] Baraniak Wojciech
  homeworks/hw3/BaraniakWojciech/HW3_Baraniak_Wojciech.pdf
Labels: HW3

#315 [HW3] Sirko Liliana
  homeworks/hw3/SirkoLiliana/HW3.Rmd
  homeworks/hw3/SirkoLiliana/HW3.html
  homeworks/hw3/SirkoLiliana/originalPlot.jpg
Labels: Late ⏰, HW3
