Repository kozaka93/2024Z-DataVisualizationTechniques, pull requests merged in 2025-01, with the labels that each got.

#425 [HW5] Razantsau Maksim
  homeworks/hw5/RazantsauMaksim/ChristmasTree.R
  homeworks/hw5/RazantsauMaksim/choinka.png
Labels: HW5

#426 [HW5] Hallak Elissa
  homeworks/hw5/HallakElissa/choinka.R
  homeworks/hw5/HallakElissa/choinka.png
Labels: HW5

#427 [HW5] Rakowski Antoni
  homeworks/hw5/RakowskiAntoni/homework5.png
  homeworks/hw5/RakowskiAntoni/homework5.r
Labels: HW5

#428 [HW5] Czarnecki Ryszard
  homeworks/hw5/CzarneckiRyszard/choinka.R
  homeworks/hw5/CzarneckiRyszard/choinka.png
Labels: HW5

#429 [HW5] Bojski Mikolaj
  homeworks/hw5/BojskiMikolaj/homework05.R
  homeworks/hw5/BojskiMikolaj/hw5.html
Labels: HW5

#430 [HW5] Kacprzak Karol
  homeworks/hw5/KacprzakKarol/choinka.R
  homeworks/hw5/KacprzakKarol/choinka.png
Labels: HW5

#431 [HW5] Osiński Krzysztof
  homeworks/hw5/OsinskiKrzysztof/choinka.R
  homeworks/hw5/OsinskiKrzysztof/choinka.png
Labels: HW5

#432 [HW5] Stasiak Mateusz
  homeworks/hw5/StasiakMateusz/StasiakMateusz.R
  homeworks/hw5/StasiakMateusz/choinka.png
Labels: HW5

#433 [HW5] Zabkowski Bartosz
  homeworks/hw5/ZabkowskiBartosz/choinka.ipynb
  homeworks/hw5/ZabkowskiBartosz/tree.png
Labels: HW5

#434 [HW5] Więckowska Kamila
  homeworks/hw5/WieckowskaKamila/choinka_gif.gif
  homeworks/hw5/WieckowskaKamila/choinka_gif_kod.R
Labels: HW5

#435 [HW5] Dzeranhouskaya Daminika
  homeworks/hw5/DzeranhouskayaDaminika/choinka.R
  homeworks/hw5/DzeranhouskayaDaminika/choinka.png
Labels: HW5

#436 [HW5] Dubois Jozef
  homeworks/hw5/DuboisJozef/choinka.png
  homeworks/hw5/DuboisJozef/hw5.R
Labels: HW5

#438 [HW5] Polkowski Cezary
  homeworks/hw5/PolkowskiCezary/script.R
  homeworks/hw5/PolkowskiCezary/tree.png
Labels: HW5

#439 [HW5] Kieltyka Szymon
  homeworks/hw5/KieltykaSzymon/christmas_tree.png
  homeworks/hw5/KieltykaSzymon/homework05.R
Labels: HW5

#437 [HW5] Ryski Adam
  homeworks/hw5/RyskiAdam/homework05.Rmd
  homeworks/hw5/RyskiAdam/homework05.html
Labels: HW5

#441 [HW5] Socha Karol
  homeworks/hw5/SochaKarol/christmas_tree.png
  homeworks/hw5/SochaKarol/drzewko.R
Labels: HW5, Late ⏰

#455 [HW6] Andrzejewski Maciej
  homeworks/hw6/AndrzejewskiMaciej/delfiny.R
  homeworks/hw6/AndrzejewskiMaciej/dolphin_network.html
  homeworks/hw6/AndrzejewskiMaciej/dolphins.gml
  homeworks/hw6/AndrzejewskiMaciej/dolphins.txt
Labels: HW6

#496 [HW6] Ryski Adam
  homeworks/hw6/RyskiAdam/homework06.Rmd
  homeworks/hw6/RyskiAdam/homework06.html
  homeworks/hw6/RyskiAdam/przeplywy.csv
  homeworks/hw6/RyskiAdam/wyniki2019.csv
Labels: HW6

#494 [HW6] Gwozdz Michal
  homeworks/hw6/GwozdzMichal/HW6.py
  homeworks/hw6/GwozdzMichal/les_miserables_network.png
  homeworks/hw6/GwozdzMichal/lesmiserables.gml
Labels: HW6

#493 [HW6] Sirko Liliana
  homeworks/hw6/SirkoLiliana/AntSocialNetwork.ipynb
  homeworks/hw6/SirkoLiliana/ant_social_network_visualisation.png
  homeworks/hw6/SirkoLiliana/insecta-ant-colony1-day09/insecta-ant-colony1-day09.edges
  homeworks/hw6/SirkoLiliana/insecta-ant-colony1-day09/readme.html
Labels: HW6

#490 [HW6] Kacprzak Karol
  homeworks/hw6/KacprzakKarol/Untitled1.ipynb
  homeworks/hw6/KacprzakKarol/star_wars.jpg
  homeworks/hw6/KacprzakKarol/starwars-full-interactions-allCharacters-merged.json
Labels: HW6

#489 [HW6] Kawulska Karolina
  homeworks/hw6/KawulskaKarolina/hw6.ipynb
  homeworks/hw6/KawulskaKarolina/hw6.png
Labels: HW6

#488 [HW6] Osiński Krzysztof
  homeworks/hw6/OsinskiKrzysztof/graf.R
  homeworks/hw6/OsinskiKrzysztof/graf.jpg
Labels: HW6

#487 [HW6] Szczerbińska Hanna
  homeworks/hw6/SzczerbinskaHanna/HannaSzczerbinska_hw6.py
  homeworks/hw6/SzczerbinskaHanna/networkGraph.png
  homeworks/hw6/SzczerbinskaHanna/terrorist.groups
  homeworks/hw6/SzczerbinskaHanna/terrorist.names
  homeworks/hw6/SzczerbinskaHanna/terrorist.pairs
Labels: HW6

#486 [HW6] Zalewska Zuzanna
  homeworks/hw6/ZalewskaZuzanna/LesMiserables.png
  homeworks/hw6/ZalewskaZuzanna/hw6.py
  homeworks/hw6/ZalewskaZuzanna/lesmiserables.gml
Labels: HW6

#483 [HW 6] Przeździecka Alicja
  homeworks/hw6/PrzezdzieckaAlicja/Frozen character interactions.png
  homeworks/hw6/PrzezdzieckaAlicja/Frozen_network.ipynb
Labels: HW6

#480 [HW6] Wolkowska Paula
  homeworks/hw6/WolkowskaPaula/hw6.png
  homeworks/hw6/WolkowskaPaula/hw6.py
  homeworks/hw6/WolkowskaPaula/karate.gml
Labels: HW6

#478 [HW6] Dzeranhouskaya Daminika
  homeworks/hw6/DzeranhouskayaDaminika/DaminikaDzeranhouskaya.py
  homeworks/hw6/DzeranhouskayaDaminika/dolphins_graph.png
Labels: HW6

#477 [HW6] Stasiak Mateusz
  homeworks/hw6/StasiakMateusz/Graf.png
  homeworks/hw6/StasiakMateusz/StasiakMateusz.py
Labels: HW6

#475 [HW6] Kotlowski Piotr
  homeworks/hw6/KotlowskiPiotr/HW.py
  homeworks/hw6/KotlowskiPiotr/TWD_GRAF.png
  homeworks/hw6/KotlowskiPiotr/football.gml
Labels: HW6

#474 [HW6] Gajda Stefan
  homeworks/hw6/GajdaStefan/HW6.ipynb
  homeworks/hw6/GajdaStefan/data.gz
  homeworks/hw6/GajdaStefan/graf.png
  homeworks/hw6/GajdaStefan/temp_graph.gexf
Labels: HW6

#472 [HW6] Kwoka Klaudia
  homeworks/hw6/KwokaKlaudia/hw6.ipynb
  homeworks/hw6/KwokaKlaudia/network/edges.csv
  homeworks/hw6/KwokaKlaudia/network/gprops.csv
  homeworks/hw6/KwokaKlaudia/network/nodes.csv
  homeworks/hw6/KwokaKlaudia/plots/layer_1, 2, 3.png
  homeworks/hw6/KwokaKlaudia/plots/layer_1, 2.png
  homeworks/hw6/KwokaKlaudia/plots/layer_1, 3.png
  homeworks/hw6/KwokaKlaudia/plots/layer_1.png
  homeworks/hw6/KwokaKlaudia/plots/layer_3.png
Labels: HW6

#471 [HW6] Tomaszkiewicz Julia
  homeworks/hw6/TomaszkiewiczJulia/Wesele graf.png
  homeworks/hw6/TomaszkiewiczJulia/graf_kod.py
Labels: HW6

#470 [HW6] Radacka Julia
  homeworks/hw6/RadackaJulia/graf.png
  homeworks/hw6/RadackaJulia/kod.py
Labels: HW6

#468 [HW6] Tomczyk Kacper
  homeworks/hw6/TomczykKacper/graph.png
  homeworks/hw6/TomczykKacper/rozklad_jazdy.R
Labels: HW6

#466 [HW6] Winkler Maciej
  homeworks/hw6/WinklerMaciej/GrafPolaczenMozgowych.pdf
  homeworks/hw6/WinklerMaciej/budapest_connectome_3.0_209_0_median.csv
  homeworks/hw6/WinklerMaciej/hw6.py
Labels: HW6

#465 [HW6] Rakowski Antoni
  homeworks/hw6/RakowskiAntoni/graph_app.r
  homeworks/hw6/RakowskiAntoni/netscience.gml
Labels: HW6

#461 [HW6] Wojterska Ada
  homeworks/hw6/WojterskaAda/Figure_1.png
  homeworks/hw6/WojterskaAda/Figure_new.png
  homeworks/hw6/WojterskaAda/graf.py
  homeworks/hw6/WojterskaAda/starwars1.json
Labels: HW6

#460 [HW6] SyrkiewiczMichal
  homeworks/hw6/SyrkiewiczMichal/[HW6] Graf.png
  homeworks/hw6/SyrkiewiczMichal/[HW6] Kod.py
  homeworks/hw6/SyrkiewiczMichal/dolphins/dolphins.gml
  homeworks/hw6/SyrkiewiczMichal/dolphins/dolphins.txt
Labels: HW6

#458 [HW6] Wójcicka Oliwia
  homeworks/hw6/WojcickaOliwia/Kod.ipynb
  homeworks/hw6/WojcickaOliwia/graf.png
Labels: HW6

#457 [HW6] Sadowska Martyna
  homeworks/hw6/SadowskaMartyna/Frozen.txt
  homeworks/hw6/SadowskaMartyna/FrozenGraph.png
  homeworks/hw6/SadowskaMartyna/HW6.ipynb
Labels: HW6

#454 [HW6] BartkowiakDaria
  homeworks/hw6/BartkowiakDaria/graph_kp.png
  homeworks/hw6/BartkowiakDaria/graph_kp.py
Labels: HW6

#453 [HW6] Kawa Wiktoria
  homeworks/hw6/KawaWiktoria/TWD_PD6.png
  homeworks/hw6/KawaWiktoria/edges.csv
  homeworks/hw6/KawaWiktoria/graph.py
  homeworks/hw6/KawaWiktoria/nodes.csv
Labels: HW6

#450 [HW6] Zawadka Aleksandra
  homeworks/hw6/ZawadkaAleksandra/graf.png
  homeworks/hw6/ZawadkaAleksandra/homework6.py
  homeworks/hw6/ZawadkaAleksandra/out.moreno_bison_bison
Labels: HW6

#446 [HW6] Razantsau Maksim
  homeworks/hw6/RazantsauMaksim/Wither3Network.jpg
  homeworks/hw6/RazantsauMaksim/charachter_connections_visualization.ipynb
  homeworks/hw6/RazantsauMaksim/witcher_network.csv
Labels: HW6

#505 [HW6] BoteroLeonikSebastian
  homeworks/hw6/BoteroLeonikSebastian/.idea/.gitignore
  homeworks/hw6/BoteroLeonikSebastian/.idea/hw6.iml
  homeworks/hw6/BoteroLeonikSebastian/.idea/inspectionProfiles/profiles_settings.xml
  homeworks/hw6/BoteroLeonikSebastian/.idea/jupyter-settings.xml
  homeworks/hw6/BoteroLeonikSebastian/.idea/misc.xml
  homeworks/hw6/BoteroLeonikSebastian/.idea/modules.xml
  homeworks/hw6/BoteroLeonikSebastian/.idea/vcs.xml
  homeworks/hw6/BoteroLeonikSebastian/.ipynb_checkpoints/authors-checkpoint.csv
  homeworks/hw6/BoteroLeonikSebastian/.ipynb_checkpoints/graph-checkpoint.ipynb
  homeworks/hw6/BoteroLeonikSebastian/.ipynb_checkpoints/graph-checkpoint.png
  homeworks/hw6/BoteroLeonikSebastian/authors.csv
  homeworks/hw6/BoteroLeonikSebastian/get_data.R
  homeworks/hw6/BoteroLeonikSebastian/graph.ipynb
  homeworks/hw6/BoteroLeonikSebastian/graph.png
Labels: HW6
